.footer {
  display: flex;
  background: #1D2331;
  justify-content: space-evenly;
  padding: 50px 20px;
  color: #FFF;
}

.footer__heading {
  margin-bottom: 20px;
}

.footer__content {
  width: 40%;
}

.footer__content:last-child {
  text-align: right;
}

.footer__text {
  font-size: 14px;
  max-width: 80%;
  margin-bottom: 20px;
}

.footer__social img,
.footer__contacts img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__social a,
.footer__contacts a {
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
}

@media (max-width: 610px) {
  .footer .footer__text {
    font-size: 12px;
  }
  .footer__contacts a {
    font-size: 10px;
  }
  .footer__text {
    max-width: 100%;
  }
}
