.nav {
  background: #FFF;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 7px 28px;
  z-index: 10;
}

.nav__logo {
  color: #2D2D2D;
  font-size: 30px;
}

.nav--scrolled {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .nav .nav__logo {
    font-size: 25px;
  }
}

@media (max-width: 550px) {
  .nav .nav__logo {
    font-size: 22px;
  }
  .nav .btn {
    font-size: 12px;
    padding: 0 10px;
  }
  .nav .btn:first-child {
    display: none;
  }
}
