.school {
    padding: 100px 0;
    text-align: center;

    &__heading {
        font-size: 30px;
        margin-bottom: 70px;
        text-align: center;
    }

    .fotorama__wrap {
        margin: 0 auto;
    }
}